In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd

In [11]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/Telco-Customer-Churn.csv')

In [12]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [13]:
y =df['Churn']

In [14]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [16]:
X = df[['tenure','PhoneService','Contract','MonthlyCharges']]  #@ต้องสองชั้น

#train test split

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [30]:
X_train

      tenure PhoneService        Contract  MonthlyCharges
2092      72          Yes        Two year           79.55
4549      17          Yes  Month-to-month           92.70
6362       2          Yes  Month-to-month           74.90
5808      72          Yes        Two year          108.40
4655      32          Yes        One year           74.75
...      ...          ...             ...             ...
5908       1          Yes  Month-to-month           20.20
4055      54           No        Two year           46.20
5981      38          Yes        Two year           20.20
3978       3          Yes  Month-to-month           90.70
6029       4          Yes  Month-to-month           94.90

[5634 rows x 4 columns]

#transformer and std,onehot

In [85]:
from sklearn.compose import make_column_transformer

In [86]:
from sklearn.preprocessing import StandardScaler

In [87]:
from sklearn.preprocessing import OneHotEncoder

In [88]:
transformer = make_column_transformer(\
                                      (StandardScaler(),['tenure','MonthlyCharges']),
                                      (OneHotEncoder(),['PhoneService','Contract']))

In [89]:
X_train_transformed = transformer.fit_transform(X_train)

In [90]:
X_train_transformed

array([[ 1.61723912,  0.48975154,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       [-0.63084485,  0.92492719,  0.        , ...,  1.        ,
         0.        ,  0.        ],
       [-1.24395866,  0.33586813,  0.        , ...,  1.        ,
         0.        ,  0.        ],
       ...,
       [ 0.22751448, -1.4743302 ,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       [-1.20308441,  0.85874078,  0.        , ...,  1.        ,
         0.        ,  0.        ],
       [-1.16221015,  0.99773224,  0.        , ...,  1.        ,
         0.        ,  0.        ]])

In [91]:
transformer.get_feature_names_out()

array(['standardscaler__tenure', 'standardscaler__MonthlyCharges',
       'onehotencoder__PhoneService_No',
       'onehotencoder__PhoneService_Yes',
       'onehotencoder__Contract_Month-to-month',
       'onehotencoder__Contract_One year',
       'onehotencoder__Contract_Two year'], dtype=object)

#K fold

In [45]:
from sklearn.neighbors import KNeighborsClassifier

In [50]:
knn5 = KNeighborsClassifier(n_neighbors=5)

In [51]:
 knn5.fit(X_train_transformed, y_train)

KNeighborsClassifier()

In [52]:
knn5.score(X_train_transformed, y_train)

0.8368832090876819

In [54]:
knn30 = KNeighborsClassifier(30).fit(X_train_transformed, y_train)
knn30.score(X_train_transformed, y_train)

0.8015619453319134

#cross validation

In [55]:
from sklearn.model_selection import cross_validate

In [56]:
knn5 =KNeighborsClassifier(5)

In [57]:
cv = cross_validate(knn5, X_train_transformed, y_train, cv=5, return_train_score=True) #@ใส่ออปชั่นให้ return train score เพื่อให้มันเอาทั้งสองชุดไปหาสกอ

In [58]:
cv

{'fit_time': array([0.01542902, 0.0139966 , 0.00917602, 0.01320267, 0.01384163]),
 'score_time': array([0.10979056, 0.08993959, 0.0397737 , 0.08828497, 0.09096336]),
 'test_score': array([0.74977817, 0.78083407, 0.76574978, 0.77994676, 0.75399645]),
 'train_score': array([0.84135789, 0.83381407, 0.84202352, 0.8373641 , 0.83806566])}

In [60]:
knn25 =KNeighborsClassifier(25)  #k ที่น้อยอาจทำให้เกิด overfit เลยเพิ่มบรรทัดนี้เข้ามาเพื่อเพิ่ม k ลด overfit
cv25 = cross_validate(knn25, X_train_transformed, y_train, cv=5, return_train_score=True)

In [61]:
cv25

{'fit_time': array([0.01378846, 0.01023626, 0.01351976, 0.01366711, 0.01342392]),
 'score_time': array([0.09968901, 0.04603648, 0.12594318, 0.10668135, 0.09988904]),
 'test_score': array([0.78083407, 0.78970719, 0.80479148, 0.79946761, 0.77975133]),
 'train_score': array([0.80585755, 0.80430442, 0.79742623, 0.80674506, 0.80590062])}

In [62]:
knn45 =KNeighborsClassifier(45)  #k ที่น้อยอาจทำให้เกิด overfit เลยเพิ่มบรรทัดนี้เข้ามาเพื่อเพิ่ม k ลด overfit
cv45 = cross_validate(knn45, X_train_transformed, y_train, cv=5, return_train_score=True)

In [63]:
cv45

{'fit_time': array([0.03388667, 0.02150559, 0.01431227, 0.01376629, 0.01427054]),
 'score_time': array([0.23292422, 0.17830133, 0.11178064, 0.12298083, 0.11281037]),
 'test_score': array([0.77728483, 0.79148181, 0.79414374, 0.7905945 , 0.78241563]),
 'train_score': array([0.80164189, 0.79942312, 0.79409807, 0.79875749, 0.80102041])}

In [64]:
knn10 =KNeighborsClassifier(10)  #k ที่น้อยอาจทำให้เกิด overfit เลยเพิ่มบรรทัดนี้เข้ามาเพื่อเพิ่ม k ลด overfit
cv10 = cross_validate(knn10, X_train_transformed, y_train, cv=5, return_train_score=True)

In [65]:
cv10

{'fit_time': array([0.01451564, 0.0136528 , 0.01381707, 0.01368976, 0.01385427]),
 'score_time': array([0.09492469, 0.09772086, 0.11005187, 0.09742999, 0.09715152]),
 'test_score': array([0.76220053, 0.78970719, 0.77994676, 0.78615794, 0.76731794]),
 'train_score': array([0.81961393, 0.81051697, 0.81340138, 0.81251387, 0.81543922])}

In [66]:
knn20 =KNeighborsClassifier(20)  #k ที่น้อยอาจทำให้เกิด overfit เลยเพิ่มบรรทัดนี้เข้ามาเพื่อเพิ่ม k ลด overfit
cv20 = cross_validate(knn20, X_train_transformed, y_train, cv=5, return_train_score=True)
cv20

{'fit_time': array([0.02821851, 0.01357293, 0.01387882, 0.01422286, 0.01395273]),
 'score_time': array([0.14510655, 0.14252615, 0.11055303, 0.09917855, 0.10561132]),
 'test_score': array([0.77196096, 0.78438332, 0.80124224, 0.78970719, 0.77975133]),
 'train_score': array([0.80652319, 0.80674506, 0.80474817, 0.80652319, 0.80501331])}

In [67]:
cv25['test_score'].mean()

0.7909103374147558

In [68]:
cv45['test_score'].mean()

0.7871841021527153

#GridsearchCV

In [69]:
from sklearn.model_selection import GridSearchCV

In [70]:
parameter_grid = {'n_neighbors' : [5, 10, 15, 20, 25, 35, 45]}

In [71]:
grid_search = GridSearchCV(KNeighborsClassifier(), parameter_grid,cv=5, return_train_score=True) #@กำหนดการทำงงานของ Grid search

In [72]:
grid_search.fit(X_train_transformed, y_train)

GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [5, 10, 15, 20, 25, 35, 45]},
             return_train_score=True)

In [73]:
grid_search.cv_results_

{'mean_fit_time': array([0.02018089, 0.01386461, 0.01356363, 0.00820003, 0.00873218,
        0.00862455, 0.00823436]),
 'mean_score_time': array([0.12213612, 0.10009594, 0.08473125, 0.05071125, 0.05012879,
        0.05562634, 0.05346098]),
 'mean_test_score': array([0.76606105, 0.77706607, 0.78310184, 0.78540901, 0.79091034,
        0.78913603, 0.7871841 ]),
 'mean_train_score': array([0.83852505, 0.81429707, 0.81105772, 0.80591058, 0.80404678,
        0.8015174 , 0.7989882 ]),
 'param_n_neighbors': masked_array(data=[5, 10, 15, 20, 25, 35, 45],
              mask=[False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'n_neighbors': 5},
  {'n_neighbors': 10},
  {'n_neighbors': 15},
  {'n_neighbors': 20},
  {'n_neighbors': 25},
  {'n_neighbors': 35},
  {'n_neighbors': 45}],
 'rank_test_score': array([7, 6, 5, 4, 1, 2, 3], dtype=int32),
 'split0_test_score': array([0.74977817, 0.76220053, 0.76841171, 0.77196096, 0.78083407,
        0.77817214, 0.77728483]),
 'split0_train_score': array([0.84135789, 0.81961393, 0.80985134, 0.80652319, 0.80585755,
        0.80363878, 0.80164189]),
 'split1_test_score': array([0.78083407, 0.78970719, 0.78881988, 0.78438332, 0.78970719,
        0.78881988, 0.79148181]),
 'split1_train_score': array([0.83381407, 0.81051697, 0.81073885, 0.80674506, 0.80430442,
        0.80119814, 0.79942312]),
 'split2_test_score': array([0.76574978, 0.77994676, 0.7905945 , 0.80124224, 0.80479148,
        0.80301686, 0.79414374]),
 'split2_train_score': array([0.84202352, 0.81340138, 0.80763257, 0.80474817, 0.79742623,
        0.79631684, 0.79409807]),
 'split3_test_score': array([0.77994676, 0.78615794, 0.78881988, 0.78970719, 0.79946761,
        0.79414374, 0.7905945 ]),
 'split3_train_score': array([0.8373641 , 0.81251387, 0.81273574, 0.80652319, 0.80674506,
        0.80097626, 0.79875749]),
 'split4_test_score': array([0.75399645, 0.76731794, 0.77886323, 0.77975133, 0.77975133,
        0.78152753, 0.78241563]),
 'split4_train_score': array([0.83806566, 0.81543922, 0.81433008, 0.80501331, 0.80590062,
        0.80545697, 0.80102041]),
 'std_fit_time': array([1.16322997e-02, 2.13260460e-04, 3.06577944e-03, 3.09340549e-05,
        6.68891023e-04, 7.02149880e-04, 5.68392293e-05]),
 'std_score_time': array([0.03999444, 0.00783901, 0.01919282, 0.00562154, 0.00228095,
        0.0041154 , 0.0011935 ]),
 'std_test_score': array([0.0128206 , 0.01064677, 0.00842968, 0.00982931, 0.00993393,
        0.00889888, 0.00631303]),
 'std_train_score': array([0.00296703, 0.00309337, 0.00231572, 0.00084891, 0.00340278,
        0.00308094, 0.00265811])}

In [74]:
grid_search.best_score_

0.7909103374147558

In [75]:
grid_search.best_params_

{'n_neighbors': 25}

In [76]:
grid_search.score(X_train_transformed, y_train)

0.8045793397231097

In [79]:
X_test_transformed = transformer.transform(X_test)

In [81]:
X_test_transformed

array([[-1.28483292, -1.32210145,  1.        , ...,  1.        ,
         0.        ,  0.        ],
       [-0.5899706 ,  0.52284474,  0.        , ...,  1.        ,
         0.        ,  0.        ],
       [ 1.61723912, -1.31217349,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       ...,
       [-1.28483292, -0.67181997,  0.        , ...,  1.        ,
         0.        ,  0.        ],
       [ 1.08587382,  1.14996098,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       [-0.26297656,  0.57082989,  0.        , ...,  0.        ,
         1.        ,  0.        ]])

In [83]:
y_predicted = grid_search.predict(X_test_transformed)
y_predicted

array(['Yes', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)

In [84]:
grid_search.score(X_test_transformed, y_test)

0.8019872249822569